<div
  class="modal-dialog is-active"
  [class]="modalSchema.class"
  [style.--max-w]="modalSchema.maxWidth + 'px'"
  (click)="onOverlayClicked($event)"
>
  <div class="modal-dialog__content" #modal>
    <div class="modal-dialog__content__header" *ngIf="modalSchema.title">
      <span class="modal-dialog__content__header__title">
        {{ modalSchema.title }}
      </span>
      <button
        type="button"
        class="modal-dialog__content__header__close"
        
      >
        <i class="icon-close" (click)="close()"></i>
      </button>
    </div>
    <div class="modal-dialog__content__body">
      <div class="modal-dialog__content__body__title">
        {{ modalSchema.title }}
      </div>
      <div class="modal-dialog__content__body__description">
        {{ modalSchema.content }}
      </div>
      <div
        class="modal-dialog__content__body_button-box"
        *ngIf="modalSchema.button.length > 0"
      >
        <button
          class="btn"
          *ngFor="let item of modalSchema.button; let i = index"
          [class]="item.class"
        >
          {{ item.name }}
        </button>
      </div>
    </div>
  </div>
</div>
